<?xml version="1.0" encoding="GB2312" ?>
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="Console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss,SSS} %p (%C:%L) [%t]- %m%n" />
		</layout>
	</appender>

	<root>
		<level value="error" />
		<appender-ref ref="Console" />
		<appender-ref ref="logfile" />
	</root>


</log4j:configuration>